texas100/attack_splits.json
texas100/client_4_bias_log.json
texas100/log.txt
texas100/texas100.npz
purchase100/purchase100.npz
purchase100/attack_splits.json
purchase100/client_4_bias_log.json
purchase100/log.txt
__pycache__